#menu_member{
	
	position: fixed;
	top:15 ;
}

#h2_member{

	position:fixed;
	background: yellow;
	top:100;
	left :50;
}

/*posisi absolute tergantung parent elemen*/
#h1_member{

	position:absolute;
	background: blue;
	top:140;
	left :50;
	z-index: -3; 
}
#parent_h1{

	position:relative;
	top:100px; 

}
/*posisi relative tergantung parent browser*/
#parent_h2{

position:relative;
	top:200px;

}

